<h2>Búsqueda</h2>
<hr>
<ul class="list-group">
    <li 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item"
        style="cursor: pointer;">
        <span>Home</span>
    </li> 
    <li 
        routerLink="/about"
        routerLinkActive="active"
        class="list-group-item"
        style="cursor: pointer;">
        <span>About</span>
    </li>
    <li 
        routerLink="/contact" 
        routerLinkActive="active" 
        class="list-group-item"
        style="cursor: pointer;">
        <span>Contact</span>
    </li>
</ul>