<div class="container">
    <div class="wrap-search-box">
        <h2>por Región</h2>
        <hr>
        <div class="text-center">
            <button 
                *ngFor="let region of regions"
                (click)="searchByRegion( region )"
                [ngClass]="{ 'btn-primary text-light': selectedRegion === region }"
                class="btn btn-outline-primary mx-2" >
                {{ region }}
            </button>
        </div>
    </div>
    <div class="wrap-results">
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <app-alert *ngIf="countries.length === 0 && !isLoading; else table"></app-alert>
        <ng-template #table>
            <app-table-countries *ngIf="!isLoading" [countries]="countries"></app-table-countries>
        </ng-template>
    </div>
</div>